<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Example of Echo</title>
</head>

<body>
  <nav style="display: flex; justify-content: space-between;">
    <a href="/">Home</a>
    <a href="/register">Register</a>
    <a href="/login">Login</a>
  </nav>

  <button type="button" onclick="testButton()">TestLogin</button>

  <form method="post" action="/logout">
    <button type="submit">Logout</button>
  </form>
</body>

<script>
  async function testButton() {
    const res = await fetch("/test-protected")

    body = await res.json()

    console.log(body)
  }
</script>

</html>
